// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import 'dashboard';

.pagination {
  --bs-pagination-active-bg: var(--bs-success);
  --bs-pagination-active-border-color: var(--bs-success);
}

.settori_show_list >.list-group-item{
    color: var(--bs-body-color);
}
